html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* End CSS Reset */

html {
    font-size: 16px;
}

body {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: #119ddc; 
    text-align: center; 
}

p{
    margin-top: .5em;
    margin-bottom: .5em;
}

a:hover{
    box-shadow: 0px 5px white;
}

#Bar {
    width: 100%;
    background-color:#196B8F;
    padding: 10px 0;
    font-size: 32px;
}


.button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    width: 15%;
    min-width: 100px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;  
}        

.button-bar{
    margin-bottom: 15px;
    background-color:#196B8F;
}  

.button-bar-2{
    margin: 0 0 10px 0;
    background-color: #4CAF50;
}

.button-bar-no-bar{
    background-color:#119ddc;
}


.button-bar-selected{
    background-color: #1D7033;
}

.button-bar-selected:hover {
    box-shadow: none;
}

.button-bar-small{
    width: 10%;
    min-width: 66px;
}

.image{
    margin-bottom: .6em;
    margin-top: .5em;
}

.troll:hover{
    position: relative;
    -webkit-animation-name: move; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: move;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes move {
    0%   { left:0px;}
    25%  { left:-300px;}
    50%  { left:0px;}
    75%  { left:300px;}
    100% { left:0px;}
}

@keyframes move {
    0%   { left:0px;}
    25%  { left:-300px;}
    50%  { left:0px;}
    75%  { left:300px;}
    100% { left:0px;}
}
