.game-wrapper {
    position: relative;
}

.splash-screen {
    position: relative;
}

.hidden {
    display: none;
}
.game-frame {
    display: inline-block;
    margin: 0 auto;
    border: 5px solid #1D7033;
}

.game-frame-wrapper {
    position: absolute;
    top: 0;
    margin-left: 50%;
    transform: translate(-50%);
}

.game-frame-large {
    width: 1024;
    height: 768;
}

.alpha {
    font-family: arial;
}


